EducationalGame/languages/Minesweeper/sandbox/classes_gen/
learning-projects/minesweeper-java/out/production/minesweeper/resources/*
EducationalGame/build/tmp/Mathsweeper Apps/java/out/MinesweeperApp/*
*/minesweeper-save.ser
